@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3><span>@ViewData["title"]</span>　を返却しました。</h3>
<a href="/Books/Index">次へ</a>
